<div class="row mt-3">
    <div class="col-12">
        <h5 class="d-inline mr-auto">Lista de empresas</h5>
        <button nbButton
                ghost
                [status]="'primary'"
                nbTooltipIcon="sync"
                nbTooltipStatus="primary"
                nbTooltip="Actualizar tabla"
                nbTooltipPlacement="bottom"
                class="mr-2">
            <nb-icon icon="sync"></nb-icon>
        </button>
        <nb-select selected="1" class="mr-2">
            <nb-option value="1">Option 1</nb-option>
            <nb-option value="2">Option 2</nb-option>
        </nb-select>
        <button nbButton
                [status]="'primary'"
                nbTooltipIcon="plus"
                nbTooltipStatus="primary"
                nbTooltip="Agregar empresa"
                nbTooltipPlacement="bottom">
            Agregar Empresa
        </button>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-4">
        <nb-form-field>
            <input type="text" nbInput
                   fullWidth
                   status="primary"
                   placeholder="Buscar">
            <button nbSuffix nbButton outline
                    nbTooltipIcon="search"
                    nbTooltipStatus="primary"
                    nbTooltip="Buscar"
                    (click)="search()">
                <nb-icon [icon]="'search-outline'"
                         pack="eva">
                </nb-icon>
            </button>
        </nb-form-field>
    </div>
</div>

<app-table [headerTable]="headerTableCompany">
</app-table>
