<div class="row">
    <div class="col-md-6">
        <h4>Lista de empresas</h4>
    </div>
    <div class="col-md-1">
        <button nbButton
                class="float-right"
                [status]="'primary'"
                nbTooltipIcon="sync"
                nbTooltipStatus="primary"
                nbTooltip="Actualizar tabla"
                nbTooltipPlacement="bottom"
                ghost>
            <nb-icon icon="sync"></nb-icon>
        </button>
    </div>
    <div class="col-md-3">
        <nb-form-field class="float-right">
            <input type="text" nbInput
                   fullWidth
                   status="primary"
                   placeholder="Buscar">
            <button nbSuffix nbButton outline
                    nbTooltipIcon="search"
                    nbTooltipStatus="primary"
                    nbTooltip="Buscar"
                    nbTooltipPlacement="bottom"
                    (click)="search()">
                <nb-icon [icon]="'search-outline'"
                         pack="eva">
                </nb-icon>
            </button>
        </nb-form-field>
    </div>
    <div class="col-md-2 ">
        <button nbButton
                class="float-right"
                [status]="'primary'"
                nbTooltipIcon="plus"
                nbTooltipStatus="primary"
                nbTooltip="Agregar empresa"
                nbTooltipPlacement="bottom"
                ghost>
            <nb-icon icon="plus"></nb-icon>
            Agregar
        </button>
    </div>
</div>
<app-table [headerTable]="headerTableContacts">
</app-table>
