<div class="row">
    <div class="col-md-6">
        <h4>Lista de contactos</h4>
    </div>
    <div class="col-md-6">
        <div class="input-group d-flex justify-content-end">
            <button nbButton
                    class="ml-2"
                    [status]="'primary'"
                    nbTooltipIcon="sync"
                    nbTooltipStatus="primary"
                    nbTooltip="Actualizar tabla"
                    nbTooltipPlacement="bottom"
                    ghost>
                <nb-icon icon="sync"></nb-icon>
            </button>
            <nb-form-field class="ml-2">
                <input type="text" nbInput
                       fullWidth
                       status="primary"
                       placeholder="Buscar">
                <button nbSuffix nbButton outline
                        nbTooltipIcon="search"
                        nbTooltipStatus="primary"
                        nbTooltip="Buscar"
                        nbTooltipPlacement="bottom"
                        (click)="search()">
                    <nb-icon [icon]="'search-outline'"
                             pack="eva">
                    </nb-icon>
                </button>
            </nb-form-field>

            <button nbButton
                    class="ml-2"
                    [status]="'primary'"
                    nbTooltipIcon="plus"
                    nbTooltipStatus="primary"
                    nbTooltip="Agregar contacto"
                    nbTooltipPlacement="bottom"
                    ghost>
                <nb-icon icon="plus"></nb-icon>
                Agregar
            </button>
        </div>
    </div>
</div>
<app-table [headerTable]="headerTableContacts">
</app-table>
