<nb-card accent="info">
    <nb-card-header>
        <simple-header-modal [title]="title" (close)="dismiss()">
        </simple-header-modal>
    </nb-card-header>
    <nb-card-body>
        <nb-tabset>
            <nb-tab tabTitle="Datos Generales"
                    tabIcon="person-outline"
                    responsive>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label">
                            Documento
                        </label> <br>
                        <nb-select placeholder="Seleccionar" fullWidth [size]="'small'">
                            <nb-option [value]="1">DNI</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="docNumber"
                                   class="label">
                                Número de documento
                            </label>
                            <input type="number" nbInput fullWidth
                                   fieldSize="small"
                                   id="docNumber">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputFirstName" class="label">Nombres</label>
                            <input type="text" fieldSize="small" nbInput fullWidth
                                   id="inputFirstName"
                                   placeholder="Nombre">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="inputFirstName"
                               class="label">Fecha Nacimiento</label> <br>
                        <input nbInput
                               fieldSize="small"
                               placeholder="DÍA/MES/AÑO" fullWidth
                               [nbDatepicker]="formpicker">
                        <nb-datepicker #formpicker
                                       format="dd/MM/yyyy"></nb-datepicker>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputLastName"
                                   class="label">
                                Apellido paterno
                            </label>
                            <input type="text" fieldSize="small" nbInput fullWidth
                                   id="inputLastName"
                                   placeholder="Apellido paterno">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="inputLastName2"
                                   class="label">
                                Apellido materno
                            </label>
                            <input type="text" fieldSize="small" nbInput fullWidth
                                   id="inputLastName2"
                                   placeholder="Apellido materno">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="correo"
                                   class="label">
                                Correo electrónico
                            </label>
                            <input type="text" fieldSize="small" nbInput fullWidth
                                   id="correo"
                                   placeholder="Correo electrónico">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="secondCorreo"
                                   class="label">
                                Segundo correo electrónico
                            </label>
                            <input type="text" fieldSize="small" nbInput fullWidth
                                   id="secondCorreo"
                                   placeholder="Segundo correo electrónico">
                        </div>
                    </div>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Información empresa"
                    tabIcon="bell-outline"
                    responsive>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="nameCompany"
                                   class="label">
                                Nombre empresa
                            </label>
                            <input type="number" nbInput fullWidth
                                   fieldSize="small"
                                   id="nameCompany">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label class="label">
                            Tipo de Contacto
                        </label> <br>
                        <nb-select placeholder="Seleccionar" fullWidth [size]="'small'">
                            <nb-option [value]="1">CLIENTE</nb-option>
                            <nb-option [value]="2">PROVEEDOR</nb-option>
                            <nb-option [value]="3">OTRO</nb-option>
                        </nb-select>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="lineaCredito"
                                   class="label">
                                Linea de credito
                            </label>
                            <input type="number" nbInput fullWidth
                                   fieldSize="small"
                                   id="lineaCredito">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="creditoDisponible"
                                   class="label">
                                Credito disponible
                            </label>
                            <input type="number" nbInput fullWidth
                                   fieldSize="small"
                                   id="creditoDisponible">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="paginaWeb"
                                   class="label">
                                Página web
                            </label>
                            <input type="text" nbInput fullWidth
                                   fieldSize="small"
                                   id="paginaWeb">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="descuentoVenta"
                                   class="label">
                                Descuento de venta
                            </label>
                            <input type="number" nbInput fullWidth
                                   fieldSize="small"
                                   id="descuentoVenta">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="telefonoMovil"
                                   class="label">
                                Telefono Móvil
                            </label>
                            <input type="number" nbInput fullWidth
                                   fieldSize="small"
                                   id="telefonoMovil">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="telefonoTrabajo"
                                   class="label">
                                Teléfono de trabajo
                            </label>
                            <input type="number" nbInput fullWidth
                                   fieldSize="small"
                                   id="telefonoTrabajo">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="telefonoCasa"
                                   class="label">
                                Teléfono de casa
                            </label>
                            <input type="number" nbInput fullWidth
                                   fieldSize="small"
                                   id="telefonoCasa">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="direccionCasa"
                                   class="label">
                                Dirección de Casa
                            </label>
                            <input type="text" nbInput fullWidth
                                   fieldSize="small"
                                   id="direccionCasa">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="direccionTrabajo"
                                   class="label">
                                Dirección de trabajo
                            </label>
                            <input type="text" nbInput fullWidth
                                   fieldSize="small"
                                   id="direccionTrabajo">
                        </div>
                    </div>
                </div>
            </nb-tab>
            <nb-tab tabTitle="Información Extra"
                    tabIcon="bell-outline"
                    responsive>
            </nb-tab>
        </nb-tabset>
    </nb-card-body>
    <nb-card-footer>
        <simple-footer-modal (closeModal)="dismiss()"
                             [isDisabled]="true"
                             (saveInfo)="dismiss()">
        </simple-footer-modal>
    </nb-card-footer>
</nb-card>
