<!--<router-outlet></router-outlet>-->
<!--<nb-layout>-->

<!--    <nb-layout-header fixed>-->
<!--        &lt;!&ndash; Insert header here &ndash;&gt;-->
<!--    </nb-layout-header>-->

<!--    <nb-layout-column>-->
<!--        <h1>Init Project</h1>-->
<!--    </nb-layout-column>-->

<!--    <nb-layout-footer fixed>-->
<!--        &lt;!&ndash; Insert footer here &ndash;&gt;-->
<!--    </nb-layout-footer>-->

<!--</nb-layout>-->

<nb-layout>

    <nb-layout-header fixed>
        <!-- Insert header here -->
    </nb-layout-header>

    <nb-layout-column>
        <h1>FRANK </h1>

    </nb-layout-column>

    <nb-layout-footer fixed>
        <!-- Insert footer here -->
    </nb-layout-footer>

</nb-layout>

