<!--<nb-card>-->
<!--    <nb-card-body>-->
<!--        <nb-tabset>-->
<!--            <nb-tab tabTitle="EMPRESA"-->
<!--                    tabIcon="person-outline"-->
<!--                    responsive>-->
<!--                <app-companies></app-companies>-->
<!--            </nb-tab>-->
<!--            <nb-tab tabTitle="CONTACTOS"-->
<!--                    tabIcon="bell-outline"-->
<!--                    responsive>-->
<!--                <app-natural-contacts></app-natural-contacts>-->
<!--            </nb-tab>-->
<!--        </nb-tabset>-->
<!--    </nb-card-body>-->
<!--</nb-card>-->

<h5>hola mundo</h5>
